.counter-cntainer {
  margin-top: 20px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;

  .counter-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .counter-button {
    width: 20px;
    height: 20px;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter-number {
    text-align: center;
    flex: 1;
    font-size: 2.2rem;
  }

  .counter-clear {
    text-align: center;
  }
}
